<mat-toolbar
  class="mat-elevation-z8"
  style="background-color: rgb(129, 115, 219)"
>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="background-color: rgb(129, 156, 236)">
  <mat-sidenav
    #sidenav="matSidenav"
    class="mat-elevation-z8"
    style="background-color: rgb(129, 115, 219)"
  >
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Trang chủ</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>group</mat-icon>
      <span>Quản lý người dùng</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>category</mat-icon>
      <span>Quản lý mặt hàng</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>shopping_basket</mat-icon>
      <span>Quản lý sản phẩm</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>notifications_active</mat-icon>
      <span>Quản lý thông báo</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>add_shopping_cart</mat-icon>
      <span>Quản lý đơn hàng</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>dashboard</mat-icon>
      <span>Quản lý gian hàng</span>
    </button>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8" style="background-color: #fff"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
